
/*.**** Color Palette*****.*/


/*.**************************.*/

/*.*********Font Info*****************.*
font-family: 'Fira Sans', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Fira Sans Extra Condensed', sans-serif;
****************************************************.*/







* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

@font-face { 
	font-family: 'Game of Thrones'; 
	src: url('fonts/game-of-thrones.ttf') format('truetype');
 }

@font-face{
	font-family: "HelveticaNeue";
	src: url('fonts/HelveticaNeue.ttc') format ('truetype');
}

h1 {
	font-family: 'Game of Thrones';
	font-size: 1rem;
	padding-left: 4%;
}

h2 {
	font-family: 'Game of Thrones';
	font-size: 1rem;

}
p,
.answer {
	font-family:'Fira Sans Condensed', sans-serif;
}
.stats h2 span{
	font-size: 1.2rem;
	text-transform: uppercase;
	padding-left: 3%;
}
.stats{
	padding:5%;
	line-height: 40px;
}
/*New NAV TEST*/

.topnav {
  position: relative;
  background-color:black;
  overflow: hidden;
	margin-bottom: 5%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color:#9D8D7F ;
}

.topnav a.active {
  background-color:grey;
  color: white;
}
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}
body {
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: repeat;
}


/*.******************END NAV NEW*****.*******/
/* ********** OLD NAVIGATION **********
nav{
	background: black;
}
nav ul li a img {
	max-width: 10%;
}

nav ul li {
	display: inline;
}
nav ul {
font-family: "HelveticaNeue";
}
/* ********** NAVIGATION **********/

/* ********** START HOME PAGE **********/
.main-logo {
	max-width: 50%;
}

/* ********** END HOME PAGE ************/








/* ********** START LANNISTER PAGE ***********/
.answer {
	font-size: 2rem;
}
.summary{
	padding-top: 10%;
	background: white;
  -moz-box-shadow:    3px 3px 5px 6px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, .5);
  box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, .5);
margin: 0 auto;
width: 85%;
border: solid #ccc .5px;
}
.summary p{
	padding: 4%;
	font-size: .7rem;
}
.quote{
	line-height: 25px;
	margin: 10%;
	color: white;
	text-align: center;
	font-size: .8rem;
}
.stats{
	background: #F3C76D;
}
.banner img{
	width: 35%;
	float:right;
	margin-top: -75px;
	padding-right: 3%;
}
.notable{
	background: #EBE2CF;
	padding-top: 5%;
display:flex;
flex-wrap: wrap;
justify-content: center;

}
.notable figure{
	width: 40%;

}
.notable img{
max-width:100%;

}

.notable figcaption{
	background: black;
	color: white;
	width:70%;
	text-align: center;
	padding:3%;
	margin: 0 auto;
	border-radius: 5px;
}
.notable-text{
	text-align: center;
	padding-bottom: 3%;
}

/*.notable img {
	width: 100%;
	max-width: 20%;
}
/* ********** END STARK PAGE ************/
































/*.***********END MAIN STYLES*****************.*/

/*.***********START MEDIA QUERIES*****************.*/




/*.***********START 600PX  MEDIA QUERIES*****************.*/
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}
