* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

@font-face { 
	font-family: 'Game of Thrones'; 
	src: url('fonts/game-of-thrones.ttf') format('truetype');
 }

@font-face{
	font-family: "HelveticaNeue";
	src: url('fonts/HelveticaNeue.ttc') format ('truetype');
}

h1 {
	font-family: 'Game of Thrones';
	font-size: 2.5rem;
}

h2 {
	font-family: 'Game of Thrones';
	font-size: 1rem;
}

p,
.answer {
	font-family: "HelveticaNeue";
}

body {
	background-image: url(images/index-background.jpg) cover;
}

/* ********** NAVIGATION **********/
nav ul li a img {
	max-width: 10%;
}

nav ul li {
	display: inline;
}
/* ********** NAVIGATION **********/

/* ********** START HOME PAGE **********/
.main-logo {
	max-width: 50%;
}
#container{
	background-image: url("images/index-background.jpg");
}
/* ********** END HOME PAGE ************/

/* ********** START STARK PAGE ***********/
.answer {
	font-size: 2rem;
}

/*.notable img {
	width: 100%;
	max-width: 20%;
}
/* ********** END STARK PAGE ************/
